@{
    ViewBag.Title = "Home Page";
}

<div id='nav-bg'></div>
<div class='container s1'>
    <div class="containersone">
        <div class="left-div">
            <h2>
                ¡Hola, hola! Aquí está Diler, un ser humano como cualquier otro, pero con una pasión ardiente por los streams.
                (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧ Me encanta conectarme con la gente, sumergirme en videojuegos, desatar mis habilidades artísticas y mantener conversaciones en tiempo real con mis espectadores.
                ¡La emoción está en el aire mientras anhelo seguir compartiendo experiencias electrizantes a través de mis streams!
                ¡No se lo pueden perder! (≧◡≦)♪
            </h2>
        </div>
        <div class="right-div">
            <img id="gif-right" src="~/Assets/Img/bananamasita.gif" alt="Alternate Text" />
        </div>

    </div>
</div>
<div class='container s2' id="s2">
    <p>Esta es la sección de redes</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel diam lacus. Nam quis ipsum nec massa sagittis scelerisque ac non urna. Phasellus posuere orci ac tellus interdum mollis eu vitae mi. Aliquam nec ante lobortis, suscipit lectus eu, dignissim ante. Nam imperdiet quis eros.</p>
</div>
<div class='container s2' id="s3">
    <p>Esta es la sección de redes</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel diam lacus. Nam quis ipsum nec massa sagittis scelerisque ac non urna. Phasellus posuere orci ac tellus interdum mollis eu vitae mi. Aliquam nec ante lobortis, suscipit lectus eu, dignissim ante. Nam imperdiet quis eros.</p>
</div>
<div class='container s3' id="s4">
    <p>Bye</p>
    <img id="imgbye" src="~/Assets/Img/byemasita.gif" alt="Alternate Text" />
    <div>
        <input id="codes" type="text" />
    </div>
</div>
@Scripts.Render("~/Scripts/IndexHome.js")